* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

header {
  height: 60vh;
}

.heroSection {
  height: 70vh;
  background-image: url(/public/images/emre-CBh4D3l0EwM-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

header {
  height: 60vh;
}

.profilImg {
  width: 250px;
  height: auto;
  position: absolute;
  bottom: 35vh;
  right: 10vw;
  border-radius: 50%;
}

.nameTitleWrapper {
  position: absolute;
  bottom: 45vh;
  text-align: left;
  margin-left: 5%;
}

main {
  min-height: 90vh;
  max-height: fit-content;
}

.techStackSection {
  background-color: rgb(203, 230, 199);
}

footer {
  height: 50vh;
}
