/* Hela sidan */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(19, 18, 18);
  color: #f1f1f1;
  text-align: center;
}

/* Header och herosektion/övre del av sidan */
.heroSection {
  height: 80vh;
  background-image: url(/public/images/emre-CBh4D3l0EwM-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  top: 5px;
  right: 15px;
}

svg {
  color: #f1f1f1;
}

.profilImg {
  width: 250px;
  height: auto;
  position: absolute;
  bottom: 30vh;
  right: 10vw;
  border-radius: 50%;
}

.nameTitleWrapper {
  position: absolute;
  bottom: 35vh;
  text-align: left;
  margin-left: 5%;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

/* Main - huvudsakligt innehåll */
main {
  min-height: 90vh;
  max-height: fit-content;
}

.techStackSection {
  background-color: rgb(203, 230, 199);
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.educationSection,
.workSection,
.diverseSection {
  width: 650px;
  text-align: left;
  background-color: rgba(203, 230, 199, 0.13);
  padding: 2%;
  border-radius: 10px;
  margin-top: 50px;
}

.educationSection {
  margin-left: 15%;
}

.workSection {
  margin-left: 45%;
}

.diverseSection {
  margin-left: 15%;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: 30px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
